<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav"
              [containerInside]="false">
    <mdb-navbar-brand>
      <a routerLink="/home" routerLinkActive="active" class="logo navbar-brand"><strong>KPIS</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/oddily" routerLinkActive="active" class="nav-link">Oddíly</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/clenove" routerLinkActive="active" class="nav-link">Členové</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/akce" routerLinkActive="active" class="nav-link">Akce</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">

        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon icon="user"></mdb-icon>
            Profil<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect type="button" (click)="openProfile()"
               *ngIf="!isAdmin()">Můj profil</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Odhlásit se</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
