<mdb-card class="card-view card-container">

  <mdb-card-header>
    <h3>Registrace</h3>
  </mdb-card-header>
  <!--Card content-->
  <mdb-card-body>

    <!--Text-->
    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
      content.
    </mdb-card-text>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
  </mdb-card-body>
</mdb-card>
