<mat-card style="margin: 10px;">

  <mat-card-header>

    <mat-card-title><h3>Nová akce</h3></mat-card-title>
  </mat-card-header>
  <!--Card content-->
  <mat-card-content>

    <!-- Form -->
    <form class="" [formGroup]="form" style="color: #757575;" name="form" (ngSubmit)=" onSubmit()">

      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="40%">
          <div>
            <mat-form-field class="example-full-width" style="margin-right: 30px">
              <input type="text" matInput placeholder="Název" name="name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="Cena pro členy" name="memberPrice"
                     formControlName="memberPrice">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="margin-right: 30px; width: 180px">
              <input matInput [matDatepicker]="startDate" name="startDate" formControlName="startDate"
                     placeholder="Začátek akce" [disabled]="isUser">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="Cena pro nečleny" name="nonMemberPrice"
                     formControlName="nonMemberPrice">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="margin-right: 30px; width: 180px">
              <input matInput [matDatepicker]="endDate" name="endDate" formControlName="endDate"
                     placeholder="Konec akce" [disabled]="isUser">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Oblast</mat-label>
              <mat-select formControlName="regionId" [disabled]="isUser">
                <mat-option *ngFor="let region of regionList" [value]="region.id">
                  {{region.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width" style="margin-right: 30px">
              <input type="number" matInput placeholder="Maximum účastníků" name="maxPeople"
                     formControlName="maxPeople">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Adresa" name="address" formControlName="address">
            </mat-form-field>
          </div>


          <div>
            <mat-form-field class="example-full-width" style="margin-right: 30px">
              <input type="text" matInput placeholder="Kontaktní osoba" name="contactPerson"
                     formControlName="contactPerson">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <textarea type="text" matInput placeholder="Popis" name="description"
                        formControlName="description"></textarea>
            </mat-form-field>
          </div>


          <div>
            <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="submit" *ngIf="!isUser">
              Uložit
            </button>
            <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="button"
                    (click)="deleteItem()" *ngIf="form.controls.id.value && !isUser">Smazat
            </button>
            <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="button"
                    routerLink="/akce" *ngIf="!isUser">Storno
            </button>
          </div>
        </div>
        <div fxFlex="60%">
          <h6>Účastníci</h6>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Celé jméno</th>
                <td mat-cell *matCellDef="let row">{{row.firstname + " " + row.lastname}}</td>
              </ng-container>

              <ng-container matColumnDef="birthDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rok narození</th>
                <td mat-cell *matCellDef="let row">{{row.birthDate | date : 'yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Oddíl</th>
                <td mat-cell *matCellDef="let row">{{row.group ? row.group.name : ""}}</td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/novyclen', row.id]">
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="button"
                  (click)="actionLogin()" [disabled]='isCurrentUserLoggedAction' *ngIf="form.controls.id.value">
            Přihlásit se
          </button>
          <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="button"
                  (click)="actionLogout()" [disabled]='!isCurrentUserLoggedAction' *ngIf="form.controls.id.value">
            Odhlásit se
          </button>
        </div>
      </div>

    </form>

  </mat-card-content>
</mat-card>

