table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 200px;
}

tr:hover {
  background-color: lightyellow;
}


@media screen and (max-width: 960px) {

  table {
    width: 100%;
    display: block;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

}
