<mat-card style="margin: 10px;">

  <mat-card-header>
    <mat-card-title><h3>Oddíly</h3></mat-card-title>
  </mat-card-header>
  <!--Card content-->
  <mat-card-content>

    <div>
      <button mat-raised-button *ngIf="!isUser" class="my-4 waves-effect z-depth-1" color="primary"
              routerLink="/novyoddil">
        <i class="fa fa-plus" aria-hidden="true"></i> Nový oddíl
      </button>
    </div>

    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Jméno</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>


        <ng-container matColumnDef="registrationYear">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok založení</th>
          <td mat-cell *matCellDef="let row"> {{row.registrationYear}} </td>
        </ng-container>


        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Město</th>
          <td mat-cell *matCellDef="let row"> {{row.city}} </td>
        </ng-container>


        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
          <td mat-cell *matCellDef="let row"> {{row.region.name}} </td>
        </ng-container>


        <ng-container matColumnDef="web">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Web</th>
          <td mat-cell *matCellDef="let row"> {{row.web}} </td>
        </ng-container>


        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Poznámka</th>
          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/novyoddil', row.id]">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>


  </mat-card-content>
</mat-card>
