<mat-card style="margin:10px">
  <mat-card-title>
    <h1>Vítejte na stránkách klubového IS!</h1>
  </mat-card-title>
</mat-card>

<mat-card style="margin: 10px;">

  <mat-card-header>
    <mat-card-title><h3>Moje akce</h3></mat-card-title>
  </mat-card-header>
  <!--Card content-->
  <mat-card-content>

    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Název</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pořadatel</th>
          <td mat-cell *matCellDef="let row"> {{row.region.name}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Termín od</th>
          <td mat-cell *matCellDef="let row"> {{row.startDate | date : 'd.M.yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Termín do</th>
          <td mat-cell *matCellDef="let row"> {{row.endDate | date : 'd.M.yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Místo</th>
          <td mat-cell *matCellDef="let row"> {{row.address}} </td>
        </ng-container>

        <ng-container matColumnDef="signIn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Počet přihlášených</th>
          <td mat-cell *matCellDef="let row"> {{row.members.length}} </td>
        </ng-container>

        <ng-container matColumnDef="maxPeople">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Maximum přihlášených</th>
          <td mat-cell *matCellDef="let row"> {{row.maxPeople}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/novaakce', row.id]">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>


  </mat-card-content>
</mat-card>
