<mat-card style="max-width: 500px; margin:10px auto">

  <mat-card-title>
    <mat-card class="indigo white-text text-center py-4 z-depth-1">
      <h5>
        <strong>Vítejte na stránkách klubového IS</strong>
      </h5>
    </mat-card>
  </mat-card-title>


  <!--Card content-->
  <mat-card-content class="px-lg-5 pt-0">

    <div style="padding-top: 20px">
      <!-- Form -->
      <form [formGroup]="form" class="text-center" style="color: #757575;" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Uživatelské jméno" formControlName="username" required>
          <mat-error *ngIf="isFieldInvalid('username')">
            Zadej platný údaj
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Heslo" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Zadej platný údaj
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="submit">Přihlásit se
        </button>


      </form>
      <!-- Form -->

    </div>

  </mat-card-content>

</mat-card>
