<mat-card class="card-view card-container">

  <mat-card-header>
    <mat-card-title><h3>Nový člen</h3></mat-card-title>
  </mat-card-header>
  <!--Card content-->
  <mat-card-content>

    <!-- Form -->
    <form class="" [formGroup]="form" style="color: #757575;" name="form" (ngSubmit)="onSubmit()">


      <div>
        <mat-form-field class="example-full-width" style="margin-right: 30px; ">
          <input type="text" matInput placeholder="Jméno" name="firstname" formControlName="firstname">
          <mat-error *ngIf="isFieldInvalid('firstname')">
            Povinný údaj
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Adresa" name="address" formControlName="address">
        </mat-form-field>


      </div>


      <div>
        <mat-form-field class="example-full-width" style="margin-right: 30px; ">
          <input type="text" matInput placeholder="Přijmení" name="lastname" formControlName="lastname">
          <mat-error *ngIf="isFieldInvalid('lastname')">
            Povinný údaj
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Email" name="email" formControlName="email">
          <mat-error *ngIf="isFieldInvalid('email')">
            Povinný údaj
          </mat-error>
        </mat-form-field>


      </div>

      <div>
        <mat-form-field style="margin-right: 30px; width: 180px">
          <input matInput [matDatepicker]="birthDate" name="birthDate" formControlName="birthDate"
                 placeholder="Datum narození" [disabled]="isUser">
          <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
          <mat-datepicker #birthDate></mat-datepicker>
          <mat-error *ngIf="isFieldInvalid('birthDate')">
            Povinný údaj
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Mobil" name="mobile" formControlName="mobile">
        </mat-form-field>


      </div>


      <div>
        <mat-form-field class="example-full-width" style="margin-right: 30px; ">
          <input type="text" matInput placeholder="Username" name="username" formControlName="username">
          <mat-error *ngIf="isFieldInvalid('username')">
            Povinný údaj
          </mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Oddíl</mat-label>
          <mat-select [formControlName]="'groupId'" name="group" [disabled]="isUser">
            <mat-option *ngFor="let group of groupList" [value]="group.id">
              {{group.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldInvalid('groupId')">
            Povinný údaj
          </mat-error>
        </mat-form-field>


      </div>

      <div>
        <mat-form-field class="example-full-width" style="margin-right: 30px; " *ngIf="!form.controls.id.value">
          <input type="password" matInput placeholder="Heslo" name="password" formControlName="password">
          <mat-error *ngIf="isFieldInvalid('password')">
            Povinný údaj
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea type="text" matInput placeholder="Poznámka" name="note" formControlName="note"></textarea>
        </mat-form-field>
      </div>


      <div>
        <mat-checkbox class="example-margin" color="primary" name="vegetarian" formControlName="vegetarian"
                      [disabled]="isUser">
          Vegetarián
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox class="example-margin" color="primary" name="registrationCard"
                      formControlName="registrationCard" [disabled]="isUser">Registračni karta
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox class="example-margin" color="primary" name="photoAgree" formControlName="photoAgree"
                      [disabled]="isUser">Souhlas s
          fotografií
        </mat-checkbox>
      </div>

      <div>
        <mat-checkbox class="example-margin" color="primary" name="leaderCheckbox" formControlName="leaderCheckbox"
                      [disabled]="isUser">Vedoucí
        </mat-checkbox>
      </div>


      <div>
        <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="submit" *ngIf="!isUser">
          Uložit
        </button>
        <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="button"
                (click)="deleteItem()" *ngIf="form.controls.id.value && !isUser">Smazat
        </button>
        <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="button"
                routerLink="/clenove" *ngIf="!isUser">Storno
        </button>
      </div>

    </form>

  </mat-card-content>
</mat-card>

