<mat-card style="margin: 10px;">

  <mat-card-header>

    <mat-card-title><h3>Nový oddíl</h3></mat-card-title>
  </mat-card-header>
  <!--Card content-->
  <mat-card-content>

    <!-- Form -->
    <form class="" [formGroup]="form" style="color: #757575;" (ngSubmit)="onSubmit()">

      <div>
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Název" name="name" formControlName="name">
          <mat-error *ngIf="isFieldInvalid('name')">
            Povinný údaj
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Rok založení" name="registrationYear"
                 formControlName="registrationYear">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Město" name="city" formControlName="city">
          <mat-error *ngIf="isFieldInvalid('city')">
            Povinný údaj
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Oblast</mat-label>
          <mat-select [formControlName]="'regionId'" name="region" [disabled]="isUser">
            <mat-option *ngFor="let region of regionList" [value]="region.id">
              {{region.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldInvalid('regionId')">
            Povinný údaj
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Web" name="web" formControlName="web">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <textarea type="text" matInput placeholder="Poznámka" name="description"
                    formControlName="description"></textarea>
        </mat-form-field>
      </div>


      <div>
        <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="submit" *ngIf="!isUser">
          Uložit
        </button>
        <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="button"
                (click)="deleteItem()" *ngIf="form.controls.id.value && !isUser">Smazat
        </button>
        <button mat-raised-button class="my-4 waves-effect z-depth-0" color="primary" type="button" routerLink="/oddily"
                *ngIf="!isUser">Storno
        </button>
      </div>


    </form>

  </mat-card-content>
</mat-card>

