<mat-card style="margin: 10px;">

  <mat-card-header>
    <mat-card-title><h3>Členové</h3></mat-card-title>
  </mat-card-header>
  <!--Card content-->
  <mat-card-content>

    <div>
      <button mat-raised-button *ngIf="!isUser" class="my-4 waves-effect z-depth-1" color="primary"
              routerLink="/novyclen">
        <i class="fa fa-plus" aria-hidden="true"></i> Nový člen
      </button>
    </div>

    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Celé jméno</th>
          <td mat-cell *matCellDef="let row">{{row.firstname + " " + row.lastname}}</td>
        </ng-container>


        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Oddíl</th>
          <td mat-cell *matCellDef="let row"> {{row.group ? row.group.name : ""}} </td>
        </ng-container>


        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresa</th>
          <td mat-cell *matCellDef="let row"> {{row.address}} </td>
        </ng-container>


        <ng-container matColumnDef="birthDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum narození</th>
          <td mat-cell *matCellDef="let row"> {{row.birthDate | date : 'd.M.yyyy'}} </td>
        </ng-container>


        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobil</th>
          <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
        </ng-container>


        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>


        <ng-container matColumnDef="vegetarian">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vegetarián</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox class="example-margin" color="primary" name="vegetarian" [(ngModel)]="row.vegetarian"
                          disabled>
            </mat-checkbox>
          </td>
        </ng-container>


        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Poznámka</th>
          <td mat-cell *matCellDef="let row"> {{row.note}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/novyclen', row.id]">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>


  </mat-card-content>
</mat-card>
